{% extends 'base.html.twig' %}

{% block title %}DetailCategory{% endblock %}

{% block body %}
<div class="constainerSta">
    <div class="card p-3 bg-light" style="display: flex; flex-direction: column; align-items: center; width: 25rem;">
        <h1> {{ category }}</h1>
        <p>
            title: {{category.title}} <br>
        </p>
    </div>
</div>
{% endblock %}