@media screen and (max-width: 768px) {

    .nav{
        max-width: 1120px;
        margin: 1rem  !important;
        height: 100%;
    }

    .nav_logo{
        display: none !important;
    }
    .nav_list{
        display: none !important;
    }

    .show-menu {
        margin: 0 auto !important;
        width: 100%;
        visibility: visible !important;
        opacity: 1 !important;
        background: rgb(0, 0, 0) !important;
        
    }

    .show-menu .nav_list {
        display: block !important;
    }


    .show-menu .nav_item {
        list-style: none;
        font-weight: 600;
        margin: 0 10px
    }

    .show-menu .nav_link {
        display: block;
        font-size: 32px;
        margin-bottom: 30px;
        text-decoration: none;
    }

    .show-menu .login {
        background-color: transparent;
        border-radius: 0;
        backdrop-filter: none !important;
    }
    .nav_close{
        display: block !important;
        position: absolute;
        top: 1rem;
        right:1.5rem;
        cursor: pointer;
        color: var(--title-color);
    }

    .nav_toggle{
        display: block !important;
        color: var(--title-color) !important;
    }

    .show-menu .nav_toggle{
        display: none !important;
    }

    


    /*.nav_menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: gray;
        width: 100%;
        padding-block:4rem;
        transition:top 0.4s;
    }
    */
    .home{
      min-height: 50vh !important;
    }

    .home_bg {
    
        height: 50% !important; /* Ajuster la hauteur de la vidéo pour les écrans mobiles */
    }
    
    .main-section {
        /* height: 50%  !important; */
        padding-bottom: 2rem !important;
    }
    
    .compass{
        /* height: 150px !important; */
        width: 25% !important;
    }

    .big-title {
        font-size: 2.75rem !important;
    }

    .home_cards{
        flex-direction: column; /* Afficher les cartes en colonnes sur les écrans mobiles */
        margin: 0 !important;
        width: 80% !important;
    }

    .home_card  {
        width: 100%; 
    }

    .home_card a {
        width: 90%;
    }

    /* .home_card-img {
        height: 100px; 
    } */
    
    .home_card-title{
        font-size: 0.75rem !important;
        left: 0 !important;
        bottom: 0 !important;
        padding: 10px !important;
      
    }
    .explore{
        display: none !important;
    }

    .section {
        padding-block: 2rem 1rem !important;
    }

    .popular {
        border-top: none !important;
    }

    .posts {
        flex-direction: column;
        margin: 0 !important;
        width: 80% !important;
    }

    .post-card{
        width: 100% !important; 
    }

    
    .post_descriscription{
        font-size: 1rem !important;
        font-weight: 500 !important;
    }

    .post-card-img {
        width:100% !important;
    }

    .legal .legal__links {
        margin-left: auto !important;
    }
    .footer__nav > * {
        flex: 1 !important;
    }
      
    .nav__item--extra {
        flex-grow: 2 !important;
    }
      
    .footer__addr {
        flex: 1 0px !important;
    }
      
    .footer__nav {
        flex: 2 0px !important;
    }

}