@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Maven+Pro:wght@400;500;600;700;900&family=Playfair+Display:wght@400;500;600;700;900&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


:root{
    --body-color:#efefef;
    --nav-color: #fff;
    --bg-color: #f6f0eb;
    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
    --title-font: 'lato', sans-serif;
    --text-font: 'Andika', sans-serif;;
    /*========== Default linear gradient colors ==========*/
    --gradient-start-color: #ac7175;
    --gradient-mid-color: #8f5f62;
    --gradient-end-color: #6e4649;
}

.dark-theme{
    --body-color:#151515;
    --nav-color: #242424;
    --bg-color:#151515;
    /*========== Dark mode linear gradient colors ==========*/
    --gradient-start-color: #2a2a2a;
    --gradient-mid-color: #1f1f1f;
    --gradient-end-color: #121212;
    
}

body {
    background-color: var(--body-color) !important;
    background: linear-gradient(to bottom right, var(--gradient-start-color), var(--gradient-mid-color), var(--gradient-end-color)) !important;
    font-family: var(--body-font);
}

button,
input {
  border: none;
}

.header_post {
    background-color: hsla(0, 0%, 0%, .3) !important;
    backdrop-filter: blur(25px) !important;
    transition: var(--trans-02s-linear) !important;
}

.nav_post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 6%;
    position: sticky;
}

.logo {
    width: 75px;
    margin-right:45px;
}


.nav-logo .title-logo{
    text-decoration: none;
    font-weight: bold;
    font-family: var(--home-family);
    color: #fff;
    font-size: 2rem;
}

.nav_links{
    display: flex;
    text-align: center;
    column-gap: 4rem;
    margin-right: 2rem;
    margin-bottom: 0;
}

.nav_item_post {
    list-style: none;
}

.scroll-link {
    color: #fff;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: var(--home-family);
}

.scroll-link:hover {
    background-color: #ffa343;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-icons{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.nav-icons i{
    color: #fff;
}
.nav-user-pic{
    width: 45px;
    border-radius: 50% ;
    cursor: pointer;
}

.search-box{
    background: #fff;
    width: 100%;
    border-radius: 20px;
    padding: 0 15px;
    border: 1px solid #000;
}

.search-box img{
    width:18px;

}

.search-box input{
    width:100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.online{
    position: relative;
}

.online::after{
    content:'';
    width: 7px;
    height:7px;
    border:2px solid #fff;
    border-radius:50%;
    background-color: #41db51;
    position: absolute;
    top:0;
    right: 0;
}

.fa-caret-down{
    position: absolute;
    bottom: 0px;
    right: 0;
}

#burger-menu {
    display: none;
}

header .fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6;
}

@media screen and (max-width: 780px) {
    #burger-menu {
      display: block;
      cursor: pointer;
      height: 27px;
      width: 27px;
      overflow: visible;
      position: relative;
      z-index: 10;
    }
    
    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after {
      background: #fff;
      display: block;
      height: 2px;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-in-out;
    }

    #burger-menu span:before,
    #burger-menu span:after {
      content: "";
    }

    #burger-menu span:before {
      left: 0px;
      top: -10px;
      width: 27px;
    }
    #burger-menu span {
      right: 0px;
      top: 13px;
      width: 27px;
    }

    #burger-menu span:after {
      left: 0px;
      top: 10px;
      width: 27px;
    }

    #burger-menu.close span:before {
      top: 0px;
      transform: rotate(90deg);
      width: 27px;
    }

    #burger-menu.close span {
      transform: rotate(-45deg);
      top: 13px;
      width: 27px;
    }

    #burger-menu.close span:after {
      top: 0px;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
    }

    .nav_links{
        z-index: 5 !important;
        width: 100%;
        height: 1000%;
        position: fixed !important;
        top: 0 !important;
        right: 0 !important;
        visibility: hidden  !important;
        opacity: 0 !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 0;
        transition: all 0.3s ease-in-out !important;
    }

    .nav_links.show {
        visibility: visible !important;
        opacity: 1 !important;
        background-color: rgba(0, 0, 0, 0.7) !important;
    }

    .scroll-link {
        display: block !important;
        font-size: 2rem !important;
        margin-bottom: 30px !important;
    }

    .title-logo {
        font-size: 1.25rem !important;
    }

    .main-content {
        width: 100% !important;
    }

    
    .post-container {
        max-height: max-content !important;
    }

    .post-container figure .post-img{
        width: 100% !important;
        max-height: max-content !important;
    }

    .right-sidebard{
        display: none !important;
    }

    .cont {
        padding: 0% !important;
    }

    .low{
        flex-direction: column !important;
        align-items: initial !important;
        justify-content: initial !important;
    }

    .post-btn {
        margin-top: 10px !important;
    }


}

/****************************************************MAIN*******************************************/
.cont{
    display:flex;
    justify-content: space-between;
    padding:13px 5%;
    
}

.left-sidebard{
    background: var(--bg-color);
    flex-basis: 25%;
    position: fixed;
    top: 70px;
    border-radius: 20px;
    padding: 0 2.5%;
}

.right-sidebard{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    padding: 20px;
    align-self: flex-start;
    display: flex;
    flex-direction: column
}

.main-content{
    width: 70%;
    padding: 20px;
    /* margin-left:25%; */

}

/****************************************LEFT SIDEBAR*****************************/
/* .imp-links{
    border-bottom: 1px solid #9a9a9a;
} */
.menu-links{
    margin: 0px 10px;
    padding: 5%;
}

.imp-links a, .shorcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    gap: 15px;
    font-size: 18px;
   
}

.imp-links h5, .shorcut-links h5{
    margin: 20px 0;
    color: #626262;
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
}


/****************************************RIGHT SIDEBAR*****************************/
.right-subpart{
    background: var(--bg-color);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-sidebard h4{
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    gap: 15px;
}

.list-event{
    padding: 2% 0;
    border-bottom: 1px solid #ccc ;
}

.event-items{
    margin: 10px 0;
}

.link{
    color: #0a0a0a;
    font-family: var(--text-font);
}


.sidebar-title a{
    font-family: var(--title-font);
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.event{
    margin-bottom: 20px;
}

.event .post{
    margin-bottom: 10px;
}



/****************************************MAIN CONTENT*****************************/
.write-post-container{
    width:100%;
    background: var(--bg-color);
    border: 6px;
    padding: 20px;
    color: #626262;
}

.user-profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p{
    margin-bottom: -5px;
    font-weight: 600;
}
.user-profile small{
    font-size: 12px;
}

.dark-mode{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark-mode p{
    margin-bottom: -5px;
    font-weight: 600;
    text-transform: capitalize;
}

#dark-btn{
    background-color: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span{
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}

#dark-btn.dark-btn-on{
    padding-left: 23px;
    background: #0a0a0a;
}

.post-input-container textarea{
    width:100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background:transparent;
    resize: none;
}

.add-post-links{
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 30%;
}

.post-links{
    display: flex;
}


.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 20px;
    font-size: 13px;
}

.add-post-links a img{
    width: 20px;
    margin-right: 10px;
}

.post-container{
    width: 100%;
    max-height:600px;
    background-color:  var(--bg-color);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
}

.user-profile span {
    font-size: 11px;
    color: #9a9a9a;
    margin-top: 6px;
}

.post-text{
    margin: 15px 0;
}

.post-text span{
    color: #626262;
    font-weight: 500;
}


.post-text .title-link{
    color: #0a0a0a;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--title-font);
    text-transform: uppercase;
}

.post-text p{
    color: #000000;
    font-family: var(--text-font);
    margin-bottom: 0;
}

.post-container figure{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10PX;

}
.post-container figure .post-img{
    width: auto;
    max-height: 275px;
    border-radius: 10px;
}

.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icons div img{
    width: 18px;
    margin-right: 10px;
}

.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.post-profile-icon{
    display: flex;
    align-items: center;
}

.post-profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
    
}

.post-row a{
    color: #000;
    font-family: var(--text-font);
    text-decoration: none;
}

.load-more-btn{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
}

.comment-container{
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #000;
    margin: 20px 0;
}

.comment-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-text{
    color: #000;
    margin: 15px 0;
    font-size: 15px;
}

.user-profile-info {
    display:flex;
    align-items: center;
    gap: 5px;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #9a9a9a;
    border-radius: 50%;
    display: inline-block;
}

.post-btn {
    display: flex;
    gap: 5%;
    padding-right: 1rem;
}


.btn-edit{
    background-color: #ffc107;
    border-radius: 8px;
    border: none;
    width: 70px;
    padding: 5px;
    
}

.btn-delete{
    background-color: #dc3545;
    border-radius: 8px;
    border: none;
    width: 70px;
    padding: 5px;
}

.btn-add{
    /* background-color: #23a875; */
    background-color: #ffa343;
    border-radius: 8px;
    border: none;
    padding: 10px;
    width: 100%;
}


.btn-add a{
    color: #fff;
    margin: 0 auto;
}

.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right:5px;
    max-height: 0;
    transition: max-height 0.3s;
}

.settings-menu-height{
    max-height: 550px;
}

.user-profile a{
    text-transform: capitalize;
}

.settings-menu-inner{
    padding: 20px;
}

.settings-menu-inner hr {
    border: 0;
    height: 1px;
    background-color: #9a9a9a;
    margin: 15px 0;
}

.settings-links{
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.settings-links .setting-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}

.settings-links a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;


}


/* CSS pour le mode sombre */
.dark-theme .post-text h5 a,
.dark-theme .post-text p{
    color: #f6f6f6; /* Couleur du texte en mode sombre */
}

.dark-theme .user-profile a {
    color: #f6f6f6;
}

.dark-theme .country{
    color: #f6f6f6;
}


.button{
    width:180px;
    color: #000;
    font-size: 12px;
    padding:12px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    position: relative;
    top: 20%;
    left: 14%;
}

.alert-secondary{
    background-color: #ffa343 ;
    border-color: #ffa343;
}

.fa-circle-info{
    margin-right: 10px !important;
}

.like-btn{
    background-color:transparent;
    padding: 5px;
}

/*-------------------------------------EXPLORE----------------------------------------- */
.vessel {
    padding: 13px 5%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}

.cards {
    width: 100%;
    height: max-content;
    padding: 20px;
    perspective: 1000px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
}

.card {
    padding-top: 100px;
    transform-style: preserve-3d;
    height: 300px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    background-position: center center;
}
.card:hover {
    background-position: 80% 20%;
    transform: rotate3d(0.5,1,0,30deg);
}
.card-image{
    background-size: cover;
}
.content-box {
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
    padding: 50px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center
    /* transform-style: preserve-3d; */
}

.content-box .card-title {
    color: #fff;
    font-size: 1.55rem;
    font-weight: 800;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
}
.content-box .card-title:hover {
    transform: translate3d(0px, 0px, 50px);
}

.content-box .card-content {
    padding-top: 20px;
    font-size: 13px;
    color: #d7d7d7;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
}
.content-box .card-content:hover {
    transform: translate3d(0px, 0px, 50px);
}

.content-box .see-more {
    display: block;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #0088ff;
    padding-top: 15px;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
}
.content-box .see-more:hover {
    transform: translate3d(0px, 0px, 50px);
}

.date-box {
    position: absolute;
    top: 75px;
    left: 25px;
    height: 60px;
    width: 60px;
    background-color: #000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: #0066ff 0px 20px 60px 0px, #00c8ff 0px 18px 36px -18px;
    transform: translate3d(0px, 0px, 50px);
}
.date-box span {
    display: block;
    text-align: center;
}
.date-box .month {
    color: #fff;
    font-size: 11px;
    font-weight: 700;
}
.date-box .date {
    font-size: 20px;
    font-weight: 900;
    color: #0088ff;
}