/*=============== GOOGLE FONTS ===============*/


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap');
@import './_responsive.css';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: hsl(0, 0%, 100%);
  --text-color: #fff;
  --text-color-light: hsl(0, 0%, 60%);
  --body-color: hsl(0, 0%, 0%);
  --container-color: hsl(0, 0%, 8%);
  --color:#ffa343;
  /* --bg-color:#1c7d93; */

  /*========== Font and typography ==========*/

  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --home-family: 'Amatic SC', cursive;
  --btn-family: 'Andika', sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --title-font-size: 1.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 5.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
html {
  scroll-behavior: smooth;
}

body {
    background-color: #000;
    background: linear-gradient(to bottom right, #ac7175, #8f5f62, #6e4649);
    font-family: var(--body-font);
}


.big-title{
    font-size: 5.75rem;
    font-family: var(--home-family);
    font-weight: 900;
    margin:0;
    color: var(--text-color);
}

a{
    text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding-block: 5rem 2rem;
}

.section_title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
  display: flex;
flex-direction: column;
}

/*=============== HEADER & NAV ===============*/

.header{
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav{
    height: calc(var(--header-height)+1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5rem;
}


.nav_toggle, .nav_close{
    display: none;
}


.nav_list{
    display: flex;
    text-align: center;
    column-gap: 4rem;
    
}
.nav_item{
    list-style: none;
}
.nav_logo, .nav_link{
    color: #fff;
    font-size: var(--title-font-size);
    font-weight: bold;
    font-family: var(--home-family);
}

.nav_link:hover {
    background-color: #ffa343; /* Ajout d'une couleur de fond lors du survol */
    border-radius: 5px; /* Pour ajouter des coins arrondis */
    transition: background-color 0.3s; /* Ajout d'une transition en douceur */
}

.navflex{
    display: flex;
    gap: 40px;
}


.login{
    background-color: #d6793d;
    padding: 0.25rem 1rem;
    color: var(--title-color);
    font-family: var(--home-family);;
    font-weight: bold !important;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: top .4s;
    font-size: var(--title-font-size);
    border-radius: 20px;
}

/* Show menu */

.show-menu{
    top:0;
}

/* .show-menu .nav_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
} */

/* Add blur to header */
.blur-header::after{
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, .3);
    backdrop-filter: blur(25px);
    top: 0;
    left: 0;
    z-index:-1;
    
}



/*=============== HOME ===============*/
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.home_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.8)
}

.home_container{
    position: relative;
}

.home_data{
    text-align: center;
    font-family: var(--home-family);;
    color:#fff;
}

.home_subtitle{
    font-size: var(--h3-font-size);
    margin: 0;
}

.home_title{
    font-size: var(--biggest-font-size);
    margin: 0;
}

.home_description{
    margin-bottom: 2rem;
    color: var(--title-color);
}
.main-section {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: white solid 0.2rem;
    /* margin:  0 5rem; */
    padding-bottom: 5rem;
}

.home_cards{
    display: flex;
    gap:1rem;
    margin: 0 5rem;
}

.home_card{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
}

.home_card-img{
    transition: transform .4s;
    width: 100%;
    display: block;
}



.home_card-title{
    position: absolute;
    left: 1rem;
    bottom:1rem;
    z-index: 1;
    color: var(--text-color);
    padding: 20px;
    font-size: 2rem;
    font-weight: 500;
}

.home_card:hover .home_card-img{
    transform:scale(1.2)
}

/*=============== BUTTON ===============*/
.button{
    /* background-color: #ffa343;; */
    border: solid white 0.15rem;
    border-radius: 1.3rem;
    font-family: var(--third-font);
    padding: 0.7rem 1rem;
    color: var(--title-color);
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-medium);
    /* transition: top .4s; */
    margin-top: 20px;
    transition: 0.25s;
}

.button i{
    font-size: 1.25rem;
    transition: transform .4s;
    font-weight: initial;
}


.button:hover,
.button:focus {
    box-shadow: inset 6.5em 0 0 0  #d6793d;
    background-color: #d6793d;
    border: solid #d6793d 0.15rem;
}


/*=============== POPULAR ===============*/
.popular{
    border: white solid 0.2rem;
}

.popular_posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compass {
    height: 150px;
    width: 150px;
}

.popular_subhead{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.posts{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
}

.post-card-img{
    border-radius: 20px;
}

.post-card-title {
    position: absolute;
    bottom: 1.75rem;
    left: 0;
    max-width: 100%;
    padding: 5px;
    color: transparent;
    border-radius: 20px;
    text-align: center;
    transition: opacity 0.3s, transform 0.1s; /* Ajout d'une transition pour l'effet hover */
    transform: translateY(100%); /* Pour cacher le titre au départ */
}

.post-card:hover .post-card-title {
    color: #000;
    transform: translateY(0); /* Fait apparaître le titre lorsque la souris passe sur l'image */
    opacity: 1; /* Rend le titre complètement opaque */
    font-weight: 600;
    background: #efefef70;
}


.buttonp{
    padding: 1.25rem 1.5rem;
    color: var(--color);
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: top .4s;
}

.buttonp i{
    font-size: 1.25rem;
    transition: transform .4s;
    font-weight: initial;
}

.buttonp:hover{
    transform: translateX(.25rem);
}
/*=============== EXPLORE ===============*/
.explore{
    background: no-repeat url('/public/img/2.jpg');
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* transform-style: preserve-3d; */
}

.explore_image{
    overflow: hidden;
}

.background {
    position: relative;
    top: 0;
    left: 0;
   
    transform: translateZ(-1px) scale(2);
}

.bg-2 {
    width: 100vw;
    height: 100vh;
   
}


.explore_content{
    position: relative;
    text-align: center;
    display: grid;
    align-items: center;
    z-index: 1;
}

.post_descriscription ,.explore_descriscription{
    font-size: 1.5rem;
    font-family: var(--btn-family);
    font-weight: 600;
    color: var(--text-color);
    text-align: justify;
    padding: 1.5rem;
}


.explore_user{
    display: inline-flex;
    justify-content: flex-end ;
    align-items: flex-end;
    margin-bottom: 1.25rem;
    column-gap: 0.5rem;
}

.explore_user img {
    width: 30px;
    border-radius: 50%;
}


/*=============== FOOTER ===============*/

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #fff;
}
  
.footer > * {
    flex:  1 100%;
}
.footer__logo {
    color: #fff;
    font-size: var(--title-font-size);
    font-weight: bold;
    font-family: var(--home-family);
    text-transform: uppercase;
}
  
.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}
  
.nav__title {
    font-weight: 400;
}
  
.footer address {
    font-style: normal;
    color: #999;
}
  
.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}
  
.footer ul {
    list-style: none;
    padding-left: 0;
}
  
.footer li {
    line-height: 2em;
}
  
.footer a {
    text-decoration: none;
}
  
.footer__nav {
    display: flex;
      flex-flow: row wrap;
}
  
.footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
}
  
.nav__ul a {
    color: #999;
}
  
.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}
  
.legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
}
    
.legal__links {
    display: flex;
    align-items: center;
}
  
.heart {
    color: #2f2f2f;
}

@media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
}


