/*=============== GOOGLE FONTS ===============*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: hsl(0, 0%, 100%);
  --text-color: #fff;
  --text-color-light: hsl(0, 0%, 60%);
  --body-color: hsl(0, 0%, 0%);
  --container-color: hsl(0, 0%, 8%);
  --color:#ffa343;
  /* --bg-color:#1c7d93; */

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --home-family: 'Amatic SC', cursive;
  --btn-family: 'Andika', sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --title-font-size: 1.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 5.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
html {
  scroll-behavior: smooth;
}

body {
    background: linear-gradient(90deg, rgba(63,222,255,1) 0%, rgba(63,112,255,1) 100%);
    font-family: var(--body-font);
}


.big-title{
    font-size: 5.75rem;
    font-family: var(--home-family);
    font-weight: 900;
    margin-bottom: 20px;
    color: var(--text-color);
}


a {
  text-decoration: none;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section_title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
  display: flex;
flex-direction: column;
}

/*=============== HEADER & NAV ===============*/

.header{
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav{
    height: calc(var(--header-height)+1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5rem;
}


.nav_toggle, .nav_close{
    /* display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer; */
    display: none;

}


.nav_list{
    display: flex;
    text-align: center;
    column-gap: 4rem;
    
}
.nav_item{
    list-style: none;
}
.nav_logo, .nav_link{
    color: #fff;
    font-size: var(--title-font-size);
    font-weight: bold;
    font-family: var(--home-family);
}

.nav_close{
    position: absolute;
    top: 1rem;
    right:1.5rem;
}

.login{
    background-color: #ffa343;
    padding: 0.25rem 1rem;
    color: var(--title-color);
    font-family: var(--home-family);;
    font-weight: bold !important;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: top .4s;
    font-size: var(--title-font-size);
    border-radius: 20px;
}

/* Show menu */

.show-menu{
    top:0;
}

/* Add blur to header */
.blur-header::after{
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, .3);
    backdrop-filter: blur(25px);
    top: 0;
    left: 0;
    z-index:-1;

}

/* Active link */


/*=============== HOME ===============*/
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.home_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.8)
    /* background: linear-gradient(180deg,hsl(0,0%,0%,0)5%,hsla(0,0%,0%,0)40%, hsla(0,0%,0%,0)60%,hsl(0,0%,0%,0)92%); */
}

.home_shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:80%;
    /* background: linear-gradient(180deg,hsla(0,0%,0%,0)58%,hsl(0,0%,0%)78%); */
    background: linear-gradient(180deg
    ,hsl(0,0%,0%)5%,
    hsla(0,0%,0%,0)40%,
    hsla(0,0%,0%,0)60%,
    hsl(0,0%,0%)92%);
}

.home_container{
    position: relative;
}

.home_data{
    text-align: center;
    font-family: var(--home-family);;
    color:#fff;
}

.home_subtitle{
    font-size: var(--h3-font-size);
    margin: 0;
}

.home_title{
    font-size: var(--biggest-font-size);
    margin: 0;
}

.home_description{
    margin-bottom: 2rem;
    color: var(--title-color);
}
.main-section {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  0 5rem;
}
.main-section h3{
    padding: 20px;
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color)
}
.home_cards{
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,auto));
    align-items: center; */
    gap:1rem
}

.home_card{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    /* width: 120px;
    height: 80px; */
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
}

.home_card-img{
    transition: transform .4s;
    width: 100%;
    display: block;
}


.home_card-shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: linear-gradient(180deg,hsla(0,0%,0%,0)50%,hsl(0,0%,0%)125%);
}

.home_card-title{
    position: absolute;
    left: 1rem;
    bottom:1rem;
    font-size: var(--h3-font-size);
    z-index: 1;
}

.home_card:hover .home_card-img{
    transform:scale(1.2)
}

/*=============== BUTTON ===============*/
.button{
    background-color: #ffa343;;
    padding: 1.25rem 1.5rem;
    color: var(--title-color);
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-family: var(--btn-family);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: top .4s;
    border-radius: 10px;
}

.button i{
    font-size: 1.25rem;
    transition: transform .4s;
    font-weight: initial;
}

.button:hover{
    transform: translateX(.25rem);
}


/*=============== POPULAR ===============*/
.popular_posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular_subhead{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.posts{
    align-items: center;
    gap: 1rem;
    /* justify-content: center; */
    display: flex;
}

.post-card-title {
    position: relative;
    left: 1rem;
    bottom: 6rem;
    font-size: var(--h3-font-size);
    color: #000;
    background: #efefef70;
    width: 32%;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
   
}

.buttonp{
    padding: 1.25rem 1.5rem;
    color: var(--color);
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: top .4s;
}

.buttonp i{
    font-size: 1.25rem;
    transition: transform .4s;
    font-weight: initial;
}

.buttonp:hover{
    transform: translateX(.25rem);
}
/*=============== EXPLORE ===============*/
.explore{
    background: no-repeat url('/public/img/2.jpg');
    min-height: 90vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 50px;
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* transform-style: preserve-3d; */
}

.explore_image{
    overflow: hidden;
}

.background {
    position: relative;
    top: 0;
    left: 0;
   
    transform: translateZ(-1px) scale(2);
}

.bg-2 {
    width: 100vw;
    height: 100vh;
   
}


.explore_content{
    position: relative;
    text-align: center;
    display: grid;
    align-items: center;
    z-index: 1;
}

.post_descriscription ,.explore_descriscription{
    font-size: 1.5rem;
    font-family: var(--btn-family);
    font-weight: 600;
    color: var(--text-color);
    text-align: justify;
}

.explore_user{
    display: inline-flex;
    justify-content: flex-end ;
    align-items: flex-end;
    margin-bottom: 1.25rem;
    column-gap: 0.5rem;
}

.explore_user img {
    width: 30px;
    border-radius: 50%;
}

