@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Maven+Pro:wght@400;500;600;700;900&family=Playfair+Display:wght@400;500;600;700;900&family=Ubuntu:wght@400;500;700&display=swap');

.header-container {
    width: 100%;
    height: 403px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

.header-container .cover{
    width: 100%;
    height: 280px;
    background: #285185;
    border-radius: 5px;
}
.cover-content{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 9rem;
}

.button-cover{
    width: 172px;
    position: absolute;
    top: 23%;
    right: 5%;
    
}

.button-profile .btn{
    background-color: #fff;
    width: 100%;
}

.button-cover a{
    text-align: center;
    padding: 5px 5%;
}

.profile-user {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 20px;
}

.profile-user .pseudo {
    margin-left: 10px;
}

.profile-user .pseudo p{
    
    color: #fff;
    
    font-size: 30px;
    text-transform: capitalize;
    font-family: 'Andika', sans-serif;;
  
}


.profile-user figure {
    width: 179px;
    height: 179px;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}

.profile-user figure img {
    width: 179px;
    height: 179px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}

.button-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
}

.button-profile .btn{
    border: 1px solid #000;
    width: 100%;
}

.button-profile a{
    text-align: center;
    padding: 5px 5%;
}

.main-contenaire {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin: 20px 0 20px;

}

/* Ajoutez ce style pour mettre en évidence l'onglet actif */
.title a.active {
    font-weight: bold;
    color: #000;
}

.section {
    display: none;
}

.section.active {
    display: block;
}


.post-user {
    width:65%;
    background-color: #fff;
    position: sticky;
    top: 0px;
    left: 0px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

.post-user .title{
    border-bottom: 1px solid #b9b7b7;
    display: flex;
    justify-content: space-evenly;
}

.post-profile{
    display: flex;
    flex-direction: column;
    width: 75%;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #eee;
}

.post-profile-info{
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.post-profile-info .detail{
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-profile-info .detail img {
    width: 65px;
    border-radius: 50%;
   
}

.post-profile-info .detail .name-date {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post-profile-info .detail .name-date p {
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.post-profile-info .detail .name-date span {
    font-size: 11px;
    color: #000000;
    margin-top: 6px;
}

.post-content {
    color: #000000;
    margin: 15px 0;
    font-size: 15px;
    font-family: 'lato', sans-serif;
}
.post-content figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-content  img{
    max-width:50%;
    border-radius: 10px;
}

.right-side{
    flex-basis: 35%;
    display: flex;
    position: sticky;
    padding: 0 20px;
    color: #626262;
    flex-direction: column;
    gap: 4vh;

}

.top-section, .down-section {
    /* border: 1px solid #000; */
    background: #fff;
    margin-bottom: 25px;
    border-radius: 50px 5px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

.side-title h4{
    text-align: center;
    margin: 5px 0;
    font-family: 'Andika', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;

}

.suggestion-list{
    display: flex;
    align-items: center;
    margin: 0 0 20px 20px;
    font-family: 'Andika', sans-serif;
    text-transform: capitalize;
}

.suggestion-user{
position: relative;
}


.suggestion-list .suggestion-user {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}


.suggestion-list .suggestion-user img {
    width: 40px;
    border-radius: 50%;
}
.box{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.box div{
    width: 40px;
    border-radius: 50%;
    margin-left:25px;
}


.post-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-title2, .link-title{
    text-decoration: none;
    color: #000;
}

.link-title2::after{
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    background: #d67940;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.link-title2:hover::after {
    width: 50%; 
}


.user-pseudo{
    text-decoration: none;
    color: #000;
}

.user-pseudo::after{
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    background: #d67940;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.user-pseudo:hover::after {
    width: 100%; 
    
}
