@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin:0;
    padding:0;
    outline: none;
    border:none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

body {
    background-color: #F7F7F8;
}

.nav-user{
    background-color: #fffcfc!important;
    position:absolute;
    top: 0; 
    bottom:0;
    height: 100%;
    left:0;
    width:20%;
    padding: 2vw;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

.nav-user .logo{
    text-align: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    gap: 10px;
    align-items: center;
    margin: 20px 0 0 30px;
}

.nav-user .logo img{
    width: 30%;
    height: auto;
    border-radius: 50%
}

.nav-user.logo span{
    font-weight: bold;
    padding-left:15px; 
    font-size: 18px;
    text-transform: uppercase;
}

.nav-user .sidebar{
    position: relative;
    top: 30%;
}


.nav-user .sidebar li a{
    position: relative;
    color: rgb(85,83,83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding:10px;
}

.nav-user .sidebar li a .fas{
    position:relative;
    width: 70px;
    height:40px;
    top:14px;
    font-size:20px;
    text-align: center;
}

.nav-user .sidebar li a .nav-item{
    position:relative;
    top:12px;
    margin-left:10px;
}

.nav-user .sidebar li a:hover{
    background-color: #eee;
}


.nav-user .sidebar li .logout{
    position:relative;
    bottom:0; 
}

.header-container {
    width: 75%;
    height: 403px;
    background: #fff;
    opacity: 1;
    position: relative;
    left: 21%;
    border-radius: 10px;
    margin: 10px 0 0 10px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

.header-container .cover{
    width: 100%;
    height: 280px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%,rgba(145,144,144,1) 100%);
    border-radius: 5px;
}

.button-cover{
    width: 172px;
    position: absolute;
    bottom: 40%;
    right: 2%;
    
}

.button-profile .btn{
    background-color: #fff;
    width: 100%;
}

.button-cover a{
    text-align: center;
    padding: 5px 5%;
}

.profile-user {
    width: 400px;
    position: absolute;
    top: 19vh;
    left: 5%;
}

.profile-user .pseudo {
    position: absolute;
    bottom: 5vh;
    left: 45%;
}

.profile-user .pseudo p{
    
    color: rgba(0,0,0,1);
    font-weight: Bold;
    font-size: 30px;
  
}


.profile-user figure {
    width: 179px;
    height: 179px;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}

.profile-user figure img {
    width: 179px;
    height: 179px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}

.button-profile {
    width: 145px;
    position: absolute;
    bottom: 10%;
    right: 3.5%;
}

.button-profile .btn{
    border: 1px solid #000;
    width: 100%;
}

.button-profile a{
    text-align: center;
    padding: 5px 5%;
}

.main-contenaire {
    position: relative;
    top: 5vh;
    left: 21%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin: 10px 0 0 10px;

}

.post-user {
    width:65%;
    background-color: #fff;
    position: sticky;
    top: 0px;
    left: 0px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

.post-user .title{
    border-bottom: 1px solid #b9b7b7;
    display: flex;
    justify-content: space-evenly;
}

.post-profile{
    display: flex;
    flex-direction: column;
    width: 75%;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #eee;
}

.post-profile-info{
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.post-profile-info .detail{
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-profile-info .detail img {
    width: 65px;
    border-radius: 50%;
   
}

.post-profile-info .detail .name-date {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post-profile-info .detail .name-date p {
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.post-profile-info .detail .name-date span {
    font-size: 11px;
    color: #000000;
    margin-top: 6px;
}

.post-content {
    color: #000000;
    margin: 15px 0;
    font-size: 15px;
}
.post-content figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-content  img{
    max-width:50%;
    border-radius: 10px;
}

.right-side{
    flex-basis: 35%;
    display: flex;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
    flex-direction: column;
    gap: 4vh;

}

.top-section, .down-section {
    /* border: 1px solid #000; */
    background: #fff;
    margin-bottom: 25px;
    border-radius: 50px 5px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

.side-title h4{
    text-align: center;
    margin: 5px 0;

}

.suggestion-list{
    display: flex;
    align-items: center;
    margin: 0 0 20px 20px;
}

.suggestion-user{
position: relative;
}


.suggestion-list .suggestion-user {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}


.suggestion-list .suggestion-user img {
    width: 40px;
    border-radius: 50%;
}
.box{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.box div{
    width: 40px;
    border-radius: 50%;
    margin-left:25px;
}


.post-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}