@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin:0;
    padding:0;
    outline: none;
    border:none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}



.nav-user{
    background-color: #dfdfdf !important;
    position:absolute;
    top: 0; 
    bottom:0;
    height: 100%;
    left:0;
    background-color: #fff;
    width:25rem;
    overflow: hidden;
    padding: 4vw;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

.nav-user .logo{
    text-align: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    gap: 10px;
    align-items: center;
    margin: 20px 0 0 30px;
}

.nav-user .logo img{
    width: 30%;
    height: auto;
    border-radius: 50%
}

.nav-user.logo span{
    font-weight: bold;
    padding-left:15px; 
    font-size: 18px;
    text-transform: uppercase;
}

.nav-user .sidebar{
    position: relative;
    top: 30%;
}


.nav-user .sidebar li a{
    position: relative;
    color: rgb(85,83,83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding:10px;
}

.nav-user .sidebar li a .fas{
    position:relative;
    width: 70px;
    height:40px;
    top:14px;
    font-size:20px;
    text-align: center;
}

.nav-user .sidebar li a .nav-item{
    position:relative;
    top:12px;
    margin-left:10px;
}

.nav-user .sidebar li a:hover{
    background-color: #eee;
}


.nav-user .sidebar li .logout{
    position:relative;
    bottom:0; 
}

#main-user{
    width: 100%;
   
}

#main-user .small-profil{
    width: 203px;
    height: 59px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 18px;
    left: 1261px;
    overflow: hidden;
}

.v31_96 {
    width: 59px;
    height: 59px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 80px;
    overflow: hidden;
}

.v31_97 {
    width: 54px;
    height: 52px;
    background: rgba(251,176,59,1);
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 3px;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    overflow: hidden;
}

.v31_98 {
    width: 59px;
    height: 59px;
   
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}

.v31_99 {
    width: 81px;
    height: 30px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 0px;
    overflow: hidden;
}

.v31_100 {
    width: 81px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Nunito;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v31_101 {
    width: 44px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 15px;
    left: 1px;
    font-size: 10px;
    opacity: 1;
    text-align: left;
}

.v31_102 {
    width: 21px;
    height: 20px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.4000000059604645;
    position: absolute;
    top: 23px;
    left: 183px;
    overflow: hidden;
}

.v31_120 {
    width: 75%;
    height: 403px;
    border: 5px solid #870fcd;
    background: #eee;
    opacity: 1;
    position: relative;
    top: 15vh;
    left: 21%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.v31_121 {
    width: 100%;
    height: 280px;
    background: rgba(196,196,196,1);
    opacity: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    border: 1px solid #000;
}

.v31_122 {
    width: 397px;
    height: 237px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 19vh;
    left: 5%;
    overflow: hidden;
}

.v31_125 {
    position: absolute;
    bottom: 5vh;
    left: 45%;
}

.v31_126 {
    color: rgba(0,0,0,1);
    font-weight: Bold;
    font-size: 30px;
  
}


.v31_129 {
    width: 179px;
    height: 179px;
    background: rgba(251,176,59,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}

.v31_129 img {
    width: 179px;
    height: 179px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}

.v31_130 {
    width: 179px;
    height: 179px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v31_131 {
    width: 179px;
    height: 179px;
   
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}

.v31_132 {
    width: 172px;
    height: 44px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top:21vh;
    right: 5%;
    overflow: hidden;
}



.v31_134 {
    width: 172px;
    height: 44px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.v31_135 {
    position: absolute;
    top: 12px;
    left: 45px;
}

.v31_136 {
    color: rgba(0,0,0,1);
    font-family: Nunito;
    font-size: 16px;
}


.v31_137 {
    width: 172px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 303px;
    left: 1175px;
    overflow: hidden;
}

.v31_138 {
    width: 172px;
    height: 44px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v31_139 {
    width: 172px;
    height: 44px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.v31_140 {
    width: 124px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 24px;
    overflow: hidden;
}

.v31_141 {
    width: 124px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Nunito;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.main-contenaire {
    border: 5px solid #870fcd;
    position: relative;
    top: 20vh;
    left: 21%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    gap: 5%;

}

.post-user {
    border: 5px solid #29cd17;
    width:65%;
    background: rgba(255,255,255,1);
    position: sticky;
    top: 0px;
    left: 0px;
}

.post-user .title{
    border-bottom: 1px solid #b9b7b7;
}

.post-profile{
    width: 75%;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    border: 2px solid #143bc9;
}

.post-profile-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #143bc9;

}
.post-profile-info .detail{
    display: flex;
    align-items: center;
    border: 2.5px solid #c94a14;
    gap: 10px;
}

.post-profile-info .detail img {
    width: 65px;
    border-radius: 50%;
   
}

.post-profile-info .detail .name-date {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post-profile-info .detail .name-date p {
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.post-profile-info .detail .name-date span {
    font-size: 11px;
    color: #000000;
    margin-top: 6px;
}

.post-content {
    color: #000000;
    margin: 15px 0;
    font-size: 15px;
}

.post-content  img{
    max-width:50%;
    position: absolute;
    top: 10vh;
    left: 20%;
    border-radius: 10px;
}

.right-side{
    flex-basis: 35%;
    display: flex;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
    flex-direction: column;
    border: 2px solid #0cbdca;
}

.top-section, .down-section {
    border: 1px solid #000;
    background: #fff;
    margin-bottom: 25px;
    border-radius: 50px 5px;
}

.side-title h4{
    text-align: center;
    margin: 5px 0;

}

.suggestion-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.suggestion-list .online {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}


.suggestion-list .online img {
    width: 40px;
    border-radius: 50%;
}
.box{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.box div{
    width: 40px;
    border-radius: 50%;
    margin-left:10px;
}

/* .box div .fa-sharp {
    width: 40px;
    height: 40px;
} */
.v31_220 {
    width: 622px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Nunito;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v31_221 {
    width: 189px;
    height: 20px;
    position: absolute;
    bottom: 2vh;
    left: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.post-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}