<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <!-- Axentix CSS minified version -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header id="header-user">
            <nav class="nav-user">
                <div class="logo">
                    <img src="{{ asset('img/logo.png') }}" alt="">
                    <a href="{{ path('app_home') }}" class="linklogo">
                        <span class="nav-item">Voyage Connect</span>
                    </a>
                </div>
                <ul class="sidebar">
                    <li><a href="{{ path('app_home') }}">
                        <i class="fas fa-home"></i>
                        <span class="nav-item">Home</span>
                    </a></li>
                    <li><a href="#">
                        <i class="fas fa-user"></i>
                        <span class="nav-item">Posts</span>
                    </a></li>
                    <li><a href="#"><i class="fas fa-tasks"></i>
                        <span class="nav-item">Explore</span>
                    </a></li>
                    <li><a href="#">
                        <i class="fas fa-cog"></i>
                        <span class="nav-item">Setting</span>
                    </a></li>
                    <li><a href="#">
                        <i class="fas fa-question-circle"></i>
                        <span class="nav-item">Help</span>
                    </a></li>
                    <li><a href="#"class="logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item">log out</span>
                    </a></li>
                </ul>
            </nav>
        </header>

        <main id="main-user">
        {% block body %}{% endblock %}
        </main>
      
          
        <footer class="footer primary">
            Copyright © 2023 - Example
        </footer>
    
        {% block javascripts %} {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.js"></script>
    </body>
</html>
