{% extends 'base.html.twig' %}

{% block title %}Read{% endblock %}

{% block body %}
  <section class="container">
    <div class="row">
      {% include "components/_messagesNav.html.twig" %}
      <div class="col-9 border border-light bg-light p-3">
        <h1>Messenger</h1>
        <h2>{{message.title}}</h2>
        <p>{{message.sender.pseudo}}</p>
        <p>{{message.createdAt|date}}</p>
        <div>{{message.message}}</div>
      </div>
    </div>
  </section>
{% endblock %}
