{% extends 'base.html.twig' %}

{% block title %}DetailPost{% endblock %}

{% block body %}
<div class="constainerSta">
    <div class="card p-3 bg-light" style="display: flex; flex-direction: column; align-items: center; width: 25rem;">
        <h1> {{ post }}</h1>
        <p>
            User: {{post.user}} <br>
            creation date: {{post.creationDate | date ('d/m/Y') }} <br>
            description: {{post.description}} <br>
        </p>
    </div>
</div>
{% endblock %}