<aside class="col-3 border border-light bg-white p-3">

    <article class="card mb-3">
        <div class="card-header">
            Posts
        </div>
        <div class="card-body">
            <ul>
                <li><a href="#">liste des Posts</a></li>
            </ul>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Users
        </div>
        <div class="card-body">
            <ul>
                <li><a href="#">liste des Users</a></li>
            </ul>
        </div>
    </article>
</aside>