{% if app.user %}
    <a  href="{{ path('app_like', {id: post.id}) }}" data-action="like">
    {# <p>{{post.likes}}</p> #}
    {% endif %}

    <button><i class="fa-regular fa-heart"></i></button>

    {% if app.user %}
        </a>
{% endif %}