{% if app.user %}
        <a href="{{path('app_like', {'id': post.id})}}">
    {% endif %}

    <button><i class="fa-regular fa-heart"></i></button>

    {% if app.user %}
        </a>
    {% endif %}