<aside class="col-3 border border-light bg-white p-3">
   
    <article class="card mb-3">
        <div class="card-header">
            Menu
        </div>
        <div class="card-body">
            <ul>
                <li><a href="{{path('received')}}">Inbox</a></li>
                <li><a href="{{path('sent')}}}">Sent</a></li>
                <li><a href="{{path('send')}}">Send a message</a></li>
                
            </ul>
        </div>
    </article>
</aside>