{% if form %}
	{{ form_start(form) }}
		<div class="d-flex align-items-center">
				{{ form_widget(form.q) }}
				{{ form_errors(form.q) }}
				<button type="submit" id="button-addon2" class="border-0">

					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
		</div>
	{{ form_end(form) }}
{% endif %}
