{% extends 'base.html.twig' %}

{% block title %}Explore{% endblock %}

{% block body %}
    <main class="vessel">
        <div class="cards card1">
            {% for region, image in regions %}
            <a class="home-link" href="{{ path('detailRegion',{region}) }}">
                <div class="carde" style="background-image: url('{{asset(image) }}')">
                    <div class="content-box">
                        <h1 class="card-title">{{ region }}</h1>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </main>

{% endblock %}

