{% extends 'user.html.twig' %}

{% block title %}Update Password {{app.user.pseudo}} !{% endblock %}

{% block body %}
	<div class="grix xs4 container">
		<h1 class="col-xs4">Update {{app.user.pseudo}} password</h1>

		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>
		{% endfor %}

		{{ form(form) }}
		</div>
	{% endblock %}

